ul li {
    display: inline;
    list-style: none;
    margin: 0;
}

ul {
    background-color: #111;
    padding: 0;
}

ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}